body{
  background-color: rgb(233, 246, 247);
}

.App {
  text-align: center;
}

/* .container{
  display: flex;
} */
img {
  padding: 20px;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box; 
}

input[type=text]:focus {
  background-color: rgb(218, 228, 231);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
